@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: darkblue;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
